@import "~bootstrap/scss/bootstrap.scss";
@import "src/variables.scss";
@import "src/generales.scss";

.Input-component {
  margin-bottom: $spacing-s;
  & input {
    background-color: $white;
  }
  & label {
    padding-left: $spacing-xxs;
    font-weight: 600;
    color: $neutral-700;
  }
}