@import "~bootstrap/scss/bootstrap.scss";
@import "src/variables.scss";
@import "src/generales.scss";

.form {
    height: 100vh;
    width: 100%;
    padding: $spacing-l;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 2fr 7fr;
    & h3 {
        color: $complementary-800;
        font-weight: 700;
    }
    & form {
        background-color: $complementary-100;
        padding: $spacing-m;
        height: 400px;
        width: 100%;
        max-width: 350px;
        display: grid;
        grid-template-rows: 8fr 1fr;
        justify-self: center;
        border-radius: $spacing-m;
        box-shadow: $shadow-m;
    }
}